name: Build & test

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '24'

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: gradle/actions/setup-gradle@v5

      - name: Check formatting
        run: ./gradlew spotlessCheck

      - name: Build and unit test
        run: ./gradlew assemble test

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: |
            **/build/test-results/*
            **/build/reports/*

  deploy-snapshot:
    if: github.event_name == 'push' && github.repository == 'mrmans0n/asyncresult'
    runs-on: ubuntu-latest
    needs: [ build ]
    timeout-minutes: 30
    env:
      TERM: dumb
    steps:
      - uses: actions/checkout@v6

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '24'

      - uses: gradle/actions/setup-gradle@v5

      - name: Add artifact version to ENV
        run: echo "VERSION=$(./gradlew -q printVersion)" >> $GITHUB_ENV

      - name: Deploy snapshot to Sonatype
        if: success() && endsWith(env.VERSION, '-SNAPSHOT')
        run: ./gradlew publishAllPublicationsToMavenCentralRepository --no-parallel --no-daemon --no-configuration-cache --stacktrace
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
